@page
@model YYRA_Team_Project.Pages.Users.FuelQuoteFormModel
@{
    ViewData["Username"] = Model._context.getUsername(Model._cache);
    ViewData["Role"] = Model._context.getRole(Model._cache);
    ViewData["Id"] = Model._context.getId(Model._cache);
    ViewData["DeliveryAddress"] = Model._context.GetAddress(Model._cache);
}

}
<style>
    .column-left {
        float: left;
        width: 50%;
        margin-left: 25%;
    }
</style>

<div class="row">
    <div class="column-left">
        <h3>Fuel Quote Form</h3>

        <div class="w-75">
            <form method="post">

                <div class="form-group">
                    <label asp-for="@Model.QUOTE.Q_Gallons" class="control-label"></label>
                    <input asp-for="@Model.QUOTE.Q_Gallons" class="form-control" />
                    <span asp-validation-for="@Model.QUOTE.Q_Gallons" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.QUOTE.Q_Date" class="control-label"></label>
                    <input asp-for="@Model.QUOTE.Q_Date" class="form-control" />
                    <span asp-validation-for="@Model.QUOTE.Q_Date" class="text-danger"></span>
                </div>

                <div>
                    <p asp-validation-for="@Model.QUOTE.Q_Address">Delivery address: @ViewData["DeliveryAddress"]</p>
                </div>

                <div class="form-group">
                    <h4>Suggested Price: @ViewData["SuggestedPrice"]</h4>
                </div>

                <div class="form-group">
                    <h4>Total Price: @ViewData["TotalPrice"]</h4>
                    @*<label asp-for="@Model.prices[1]" class="control-label"></label>*@
                    @*<input asp-for="@Model.prices[1]" class="form-control" readonly="@(true)">*@
                </div>

                <input type="submit" value="Get Suggested Price" class=" btn btn-secondary" asp-page-handler="SuggestedPriceSubmit" />

                <input type="submit" value="Submit Form" class="btn btn-primary" asp-page-handler="send" />
            </form>

            @*<form method="post">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>*@
        </div>

    </div>

</div>
@*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@