@page 
@model YYRA_Team_Project.Pages.Users.QuoteHistoryDisplayModel
@{
    ViewData["Title"] = "Quote History Display";
    ViewData["Username"] = Model._context.getUsername(Model._cache);
    ViewData["Role"] = Model._context.getRole(Model._cache);
    ViewData["Id"] = Model._context.getId(Model._cache);
}

<h3>Quote History</h3>



    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quote.UserID)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quote.Q_Address)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quote.Q_Date)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quote.Q_Gallons)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Quote.Q_Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => Model.Quote.Q_Total)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var quote in Model.Quotes)
            {
                if (quote.UserID != 1)
                {
                <tr>
                    <td >
                        @Html.DisplayFor(modelItem => quote.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Q_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Q_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Q_Gallons)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Q_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => quote.Q_Total)
                    </td>

                </tr>
                }

            }
        </tbody>
    </table>


