@page 
@model YYRA_Team_Project.Pages.Users.QuoteHistoryDisplayModel
@{
    ViewData["Title"] = "QuoteHistoryDisplay";
}

<h1>Quote History</h1>

<body class="flex-wrap">
    <table class="table table-hover">

        <tbody class="bg-info align-content-center flex-row border">
            @foreach (var quote in Model.Quotes)
            {
                //if (!item.U_Role.Contains("Master"))
                //{
                    <tr class="border-top">
                        <td scope="row">
                            @Html.DisplayFor(modelItem =>quote.UserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => quote.Q_Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => quote.Q_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => quote.Q_Gallons)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => quote.Q_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => quote.Q_Total)
                        </td>
                      
                        @*<td class="d-flex flex-row bd-highlight mb-3">
                                <a class="p-2 bd-highlight" asp-page="./Edit" asp-route-id="@item.U_ID">Edit   </a>
                                <a class="p-2 bd-highlight" asp-page="./Details" asp-route-id="@item.U_ID">Details</a>
                                <a class="p-2 bd-highlight" asp-page="./Delete" asp-route-id="@item.U_ID">Delete </a>
                            </td>*@
                    </tr>
                //}

            }
        </tbody>
    </table>
</body>

