@page "{id:int?}"
@model UserTableModel

@{
    ViewData["Title"] = "Index";
    ViewData["Username"] = Model._context.getUsername(Model._cache);
    ViewData["Role"] = Model._context.getRole(Model._cache);
    ViewData["Id"] = Model._context.getId(Model._cache);
}

<h3> Welcome @Model.Users[Model.currentID].U_Username to Admin WebTool</h3>

<div class="clearfix">
    <a type="button" class="btn btn-secondary float-left" asp-page="Create" asp-route-id="@Model.currentID">Create New User</a>
</div>


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_ID)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Username)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Pass)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_FullName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Address1)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Address2)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_City)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_State)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Zipcode)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Users[0].U_Role)
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Users)
            {
                if (!item.U_Role.Contains("Master"))
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Pass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Address2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.U_Role)
                    </td>

                   
                </tr>

                }
            }

        </tbody>
   </table>
