@page "{id:int?}"
@model UserTableModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:red; font-family:'Century Gothic'">Welcome @Model.[Model.currentID].U_LName to Admin WebTool</h1>

<div class="clearfix">
    <a type="button" class="btn btn-secondary float-left" asp-page="Create" asp-route-id="@Model.currentID">Create New User</a>
</div>
<body class="flex-wrap">
    <table class="table table-hover">
        <thead class=" bg-primary border shadow-sm">
            <tr>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_ID)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_Pass)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_FullName)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_Address1)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_Address2)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_Zipcode)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_City)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_State)
                </th>
                <th scope="col" style="color:white">
                    @Html.DisplayNameFor(model => model.Users[0].U_Role)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="bg-info align-content-center flex-row border">
            @foreach (var item in Model.Users)
            {
                if (!item.U_Role.Contains("Master"))
                {
            <tr class="border-top">
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.U_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.U_Role)
                </td>
                @*<td class="d-flex flex-row bd-highlight mb-3">
                    <a class="p-2 bd-highlight" asp-page="./Edit" asp-route-id="@item.U_ID">Edit   </a>
                    <a class="p-2 bd-highlight" asp-page="./Details" asp-route-id="@item.U_ID">Details</a>
                    <a class="p-2 bd-highlight" asp-page="./Delete" asp-route-id="@item.U_ID">Delete </a>
                </td>*@
            </tr>
                }

            }
        </tbody>
    </table>
</body>